$orange: #fd7e14;
$green: rgb(0,188,140);

#title{
    padding: 20px 0px 10px 0px;
    background-color:$orange;
    &:hover{
        background-color: #ffa600;
        cursor: pointer;
    }
}

#categorieList{
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 30px 5px 30px;
    &.hidden{
        display: none;
    }
    a{text-decoration: none;}
    p{
        font-weight: 600;
        margin-left: 6px;
        margin-right: 6px;
        color: black;
        background-color: white;
        padding: 5px;
        // border-radius: 3px;
        &:hover{
            background: linear-gradient(-45deg,rgb(35, 255, 200), rgb(177, 219, 209));
            cursor: pointer;
        }
    }
}

#menu{
    padding: 20px 0px;
    .container{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    #searchInput{
        margin-right: 10px;
    }
    #btnOrder{
        margin-right: 10px;
    }
    ul{margin-right: 30px;}
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.096);
    input{background-color: black; color: white;}
}

.product-card{
    box-sizing: border-box;
    padding-top: 16px;
    position: relative;

    button{
        border: none;
        position: absolute;
        right: 25px;
        bottom: 10px;
        border-radius: 0;
        padding: 18px 24px;
        z-index: 1;
        color: black;
        border: 1px solid black;
    }

    .product-card-in{
        display: flex;
        background-color: #ced4d8;
        box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.05);
        opacity: 0.8;
        &:hover{
            cursor: pointer;
            opacity: 1;
            background-color: #edf4ff;
            box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
        }
        img{
        max-width: 200px;
        height: 100%;
        object-fit: cover;
        }
        .product-card-text{
            padding: 10px;
            color: #303030;
            width: 100%;
            h2{
                margin-bottom: 0px;
            }
            .card-text-up{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                width: 100%;
                div:nth-child(2){
                    color: $orange;
                    font-size: 2.2rem;
                    font-weight: 600;
                }
            }
        }
    }
}

.product-cat{
    margin-top: 5px;
    background-color: $orange;
    padding: 5px;
    border-radius: 4px;
    font-weight: 600;
    color: white;
}
.price{
    color: $orange;
    font-size: 3rem;
    font-weight: 600;
}

.modal{
    position: fixed;
    top: 0;
    // left: +100vw;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.83);
    overflow-y: scroll;
    transition: ease-in-out 0.5s;

    .modal-btns{
        display: flex;
        justify-content: space-between;
        font-size: 2rem;
        position: fixed;
        top: 5vh;
        right: -100vw;
        transition: ease-in-out 0.8s;
        width: 85px;
        div{
            background-color: black;
            border-radius: 50%;
            height: 32px;
        span{
            position: relative;
            top:-8px;
        }
        &:hover:nth-child(1){
            cursor: pointer;
            color:$green;
        }
        &:hover:nth-child(2){
            cursor: pointer;
            color:$orange
        }
        }
    }
    .modal-btn{
        display: flex;
        font-size: 2rem;
        position: fixed;
        top: 5vh;
        right: -100vw;
        transition: ease-in-out 0.8s;
        div{
            background-color: black;
            border-radius: 50%;
            height: 32px;
        span{
            position: relative;
            top:-8px;
        }
        &:hover:nth-child(1){
            cursor: pointer;
            color:$orange;
        }
        }
    }

    &.active{
        left:0;
        transition: ease-in-out 0.5s;
        .modal-btns{
            transition: ease-in-out 0.8s;
            top: 5vh;
            right: 5vw;
        }
        .modal-btn{
            transition: ease-in-out 0.8s;
            top: 5vh;
            right: 5vw;
        }
    }
}

#product-modal{
    left: +100vw;
    z-index: 3;
    @extend .modal;
    .container form{
        padding: 11vh 6vw 0 6vw;
        display: flex;
        justify-content: center;
    }

    .hide{display: none;}
}
#product-modal-left{
    height: 100%;
    padding-right: 30px;
    width: 286px;
    position: relative;
    img{
        width: 256px;
        height: 256px;
        object-fit: cover;
        margin-bottom: 15px;
        }
}
#product-modal-left>button:nth-child(1){
    border-radius: 0;
    font-size: 2rem;
    position: absolute;
    right:10px;
    top: 200px;
    span{
        position: relative;
        left: 3px;
    }
}
.upload-btn{
    display: block;
    width: 100%;
}

#product-modal-right{
    flex: 0 100%;
    background-color: #444;
    padding: 20px;
    div:nth-child(5){
        color: $orange;
        font-size: 3rem;
        font-weight: 600;
    }
    textarea,#form-vendor{background-color: rgb(19, 19, 19); color: white;}
    .transp{opacity:0.4;}
}


#delete-modal{
    left: +100vw;
    z-index: 4;
    @extend .modal;
    .container{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height:100vh;
    }
}
#uppic-modal{
    left: +100vw;
    z-index: 4;
    @extend .modal;
    .container{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height:100vh;
    }
}
#upticket-modal{
    left: +100vw;
    z-index: 4;
    @extend .modal;
    .container{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height:100vh;
    }
}


.modal-in{
    background-color: #303030;
    width: 100%;
    padding: 40px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.05);
    max-width: 550px;
    .title-mod{
        font-size: 1.4rem;
        text-align: center;
        margin-bottom: 30px;
    }
    button{width: 100%;margin:6px;}
    .icon{margin-right: 10px;}
}

#delete-yesno{
    display: flex;
}