#title{
    padding: 20px 0px 10px 0px;
    background-color: #fd7e14;
    &:hover{
        background-color: #ffa600;
        cursor: pointer;
    }
}

#categorieList{
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 30px 5px 30px;
    &.hidden{
        display: none;
    }
    p{
        font-weight: 600;
        margin-left: 6px;
        margin-right: 6px;
        color: black;
        background-color: rgb(0,188,140);
        padding: 5px;
        // border-radius: 3px;
        &:hover{
            background: linear-gradient(-45deg,rgb(35, 255, 200), rgb(177, 219, 209));
            cursor: pointer;
        }
    }
}

#menu{
    padding: 20px 0px;
    .container{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    #searchInput{
        margin-right: 10px;
    }
    #btnOrder{
        margin-right: 10px;
    }
    ul{margin-right: 30px;}
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.096);
}

.product-card{
    box-sizing: border-box;
    padding-top: 16px;
    position: relative;

    .product-card-in{
        display: flex;
        background-color: #ced4d8;
        box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.05);
        opacity: 0.8;
        &:hover{
            cursor: pointer;
            opacity: 1;
            background-color: #edf4ff;
            box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
        }
        img{
        max-width: 200px;
        height: 100%;
        object-fit: cover;
        }
        button{
            border: none;
            position: absolute;
            right: 25px;
            bottom: 10px;
            border-radius: 0;
            padding: 18px 24px;
        }
        .product-card-text{
            padding: 10px;
            color: #303030;
            width: 100%;
            h2{
                margin-bottom: 0px;
            }
            .card-text-up{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                width: 100%;
                div:nth-child(2){
                    color: #fd7e14;
                    font-size: 3rem;
                    font-weight: 600;
                }
                .product-cat{
                    margin-top: 5px;
                    background-color: #fd7e14;
                    padding: 5px;
                    border-radius: 4px;
                    font-weight: 600;
                }
            }
        }
    }
}

