<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard-Produits</title>
    {% block style %}
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    {% endblock style %}
</head>
<body>
    {# Navbar  #}
    <nav class="navbar navbar-dark bg-dark justify-content-between">
      <div class="container">
        <a id="brand" class="navbar-brand">Dashboard Produits</a>
        <button id="logout" class="btn btn-outline-success my-2 my-sm-0" type="submit">{{ user }}<span class="ml-2 fas fa-sign-out-alt"></span></button>
      </div>
    </nav>
    {# Categorie  #}
    {% block title %}
    <div id="title">
      <div class="container text-center text-secondary text-uppercase">
        <h1 class="text-white">{{ categorieTitle }}</h1>
        <div><span class="fas fa-angle-down text-white"></span></div>
      </div>
    </div>
    {% endblock title%}

    <div id="categorieList" class="hidden">
      {% for categorie in categories %}
        <p>{{ categorie.categorie }}</p>
      {% endfor %}
    </div>

    <div id="menu" class="bg-secondary">
      <div class="container">
          {# Recherche  #}
          <input id="searchInput" type="text" class="form-control" placeholder="Rechercher">
          {# Classement  #}
          <div class="btn-group">
            <button id="btnOrder" type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Classer
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <button class="dropdown-item" type="button">Date Croissante</button>
              <button class="dropdown-item" type="button">Date Décroissante</button>
              <button class="dropdown-item" type="button">Prix Croissant</button>
              <button class="dropdown-item" type="button">Prix Décroissant</button>
            </div>
          </div>
          {# Pagination  #}
          <nav aria-label="Page navigation">
            <ul class="pagination mb-0">
              <li class="page-item"><a class="page-link" href="#"><span class="fas fa-angle-left"></span></a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#"><span class="fas fa-angle-right"></span></a></li>
            </ul>
          </nav>
      </div>
    </div>

    <div id="content" class="container">
      <div class="row">
        <div class="product-card col-sm-12 col-md-6">
          <button type="button" class="btn btn-outline-danger" onclick="clickDelete(1)"><span class="far fa-trash-alt"></span></button>
          <div class="product-card-in" onclick="loadModal(1)">
            <div class="product-left">
                <img src="images/product-main/placeholder.jpg" alt="">
            </div>
            <div class="product-card-text">
                <div class="card-text-up">
                  <div>
                    <h2>Nom du produit</h2>
                    <em>Ref. 0564131</em>
                    <p class="product-cat">Catégorie</p>
                  </div>
                  <div><p>39€</p></div>
                </div>
                <div class="card-text-down">
                  <p>Date d'achat: <strong>DATE</strong></p>
                  <p>Fin de garantie: <strong>DATE</strong></p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="product-modal">
      <div id="modal-close"><span class="far fa-times-circle"></span></div>
      {# modale static  #}
      <div class="container">
        <div id="product-modal-left">
          <button type="button" class="btn btn-secondary"><span class="far fa-edit"></span></button>
          <img src="images/product-main/placeholder.jpg" alt="">
          <h2>Nom du produit</h2>
          <em>Ref. 0564131</em>
          <p class="product-cat">Catégorie</p>
          <div><p>39€</p></div>
          <p>Date d'achat: <strong class="text-success">DATE</strong></p>
          <p>Fin de garantie: <strong class="text-success">DATE</strong></p>
          <p>Ticket d'achat:</p>
          <img src="images/product-ticket/placeholder.jpg" alt="">
        </div>
        <div id="product-modal-right">
          <div id="vente-direct">
            <h3><strong>Vente directe</strong></h3>
            <p class="text-success">Nom du point de vente</p>
            <p><span>5, avenue de machin</span> - <span>25000</span> - <span>Besançon</span></p>
          </div>
          <div id="vente-ecommerce">
            <h3><strong>E-commerce</strong></h3>
            <p class="text-success"><a href="www.amazon.fr">www.amazon.fr</a></p>
          </div>
          <h3>Conseils d'utilisation:</h3>
          <button type="button" class="btn btn-success"><span class="fas fa-book-open"></span> Manuel d'utilisation</button>
          <p class="text-justify mt-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus id, ex, eaque fugit placeat non tempore quasi sequi delectus omnis exercitationem nesciunt aliquam beatae aspernatur magnam quidem est nisi corrupti reprehenderit repellendus. Id voluptas natus autem nisi necessitatibus minus est, cum nam hic ipsum dolorem quo harum adipisci culpa eius alias cupiditate magni non distinctio neque ullam consequuntur quod cumque. Asperiores suscipit quas praesentium consequatur vel quaerat, laboriosam magnam est adipisci aperiam ut officiis, enim unde, quam temporibus. Rerum enim magni, suscipit velit at quam voluptas in cupiditate excepturi ipsum amet doloribus omnis, illum ut molestias voluptatibus perferendis. Asperiores, sed.</p>

        </div>
      </div>
    </div>


{% block script %}
{# Bootstrap  #}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
{# Fontawesome  #}
<script src="https://kit.fontawesome.com/eee80a1a35.js" crossorigin="anonymous"></script>
{# Custom #}
<script src="js/script.js" crossorigin="anonymous"></script>
{% endblock script %}
</body>
</html>
