<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard-Produits</title>
    {% block style %}
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fontawesome.css">
    <link rel="stylesheet" href="css/style.css">
    {% endblock style %}
</head>
<body>
    {# Navbar  #}
    <nav class="navbar navbar-dark bg-dark justify-content-between">
      <div class="container">
        <a id="brand" class="navbar-brand">Dashboard Produits</a>
        <button id="logout" class="btn btn-outline-success my-2 my-sm-0" type="submit">{{ user }}<span class="ml-2 fas fa-sign-out-alt"></span></button>
      </div>
    </nav>
    {# Categorie  #}
    {% block title %}
    <div id="title"><div class="container text-center text-secondary text-uppercase"><a href="#"><h1>{{ categorieTitle }}</h1><span class="fas fa-angle-down"></span></a></div></div>
    {% endblock title%}

    <div id="menu" class="bg-secondary">
      <div class="container">
          {# Recherche  #}
          <input id="searchInput" type="text" class="form-control" placeholder="Rechercher">
          {# Classement  #}
          <div class="btn-group">
            <button id="btnOrder" type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Classer
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <button class="dropdown-item" type="button">Date Croissante</button>
              <button class="dropdown-item" type="button">Date Décroissante</button>
              <button class="dropdown-item" type="button">Prix Croissant</button>
              <button class="dropdown-item" type="button">Prix Décroissant</button>
            </div>
          </div>
          {# Pagination  #}
          <nav aria-label="Page navigation example">
            <ul class="pagination mb-0">
              <li class="page-item"><a class="page-link" href="#"><span class="fas fa-angle-left"></span></a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#"><span class="fas fa-angle-right"></span></a></li>
            </ul>
          </nav>
        <div class="row">

            </div>
            {# <div class="col-sm">
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
              </nav>
            </div> #}
        </div>
      </div>
    </div>


{% block script %}
{# Bootstrap  #}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
{# Fontawesome  #}
<script src="https://kit.fontawesome.com/eee80a1a35.js" crossorigin="anonymous"></script>
{% endblock script %}
</body>
</html>
