<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRODUCK</title>
    {% block style %}
    <link rel="icon" href="images/favicon.png" />
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    {% endblock style %}
</head>
<body>
    {# Navbar  #}
    <nav class="navbar navbar-dark bg-dark justify-content-between">
      <div class="container">
        <a id="brand" class="navbar-brand p-0"><img src="images/produck-logo.svg" alt=""></a>
        <a id="logout" class="btn btn-outline-success my-2 my-sm-0" href="login.php">{{ user }}<span class="ml-2 fas fa-sign-out-alt"></span></a>
      </div>
    </nav>
    {# Categorie  #}
    {% block title %}
    <div id="title">
      <div class="container text-center text-secondary text-uppercase">
          <p id="categorieTitle" class="text-white">Catégorie</p>
        <div><span class="fas fa-angle-down text-white"></span></div>
      </div>
    </div>
    {% endblock title%}

    <div id="categorieList" class="hidden">
      {# Liste des categories #}
    </div>

    <div id="menu" class="bg-secondary">
      <div class="container">
          <!-- Bouton nouveau produit -->
          <button id="create-btn" type="button" class="btn btn-success m-static" onclick="createActivate()"><span class="fas fa-plus"></span></button>
          {# Recherche  #}
          <input id="searchInput" type="text" class="form-control" placeholder="Rechercher" onInput="searchLoad(this)">
          {# Classement  #}
          <div class="btn-group">
            <button id="btnOrder" type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Classer
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <button class="dropdown-item" type="button" onclick="selectOrder('date_croissant')" >Date Croissante</button>
              <button class="dropdown-item" type="button" onclick="selectOrder('date_decroissant')" >Date Décroissante</button>
              <button class="dropdown-item" type="button" onclick="selectOrder('prix_croissant')" >Prix Croissant</button>
              <button class="dropdown-item" type="button" onclick="selectOrder('prix_decroissant')" >Prix Décroissant</button>
            </div>
          </div>
          {# Pagination  #}
          <nav id="paging" aria-label="Page navigation">

          </nav>
      </div>
    </div>

    <div id="content" class="container">

    </div>

    <div id="product-modal">
      <div class="modal-btns">
        <div id="modal-validate"><span class="far fa-check-circle m-modif" onclick="modifValidate()"></span></div>
        <div id="modal-close"><span class="far fa-times-circle"></span></div>
      </div>
      <div class="container">
        <form id="product-form">
          <div id="product-modal-left">
            <button id="edit-btn" type="button" class="btn btn-success m-static" onclick="modifActivate()"><span class="far fa-edit"></span></button>
            <img id="prod_Picture" src="images/product-main/placeholder.jpg" alt="">
            <div class="form-group m-modif">
              <label for="form-pic">Image</label>
              <button type="button" class="btn btn-success m-modif upload-btn" onclick="uploadPictureClick()"><span class="fa fa-upload"></span> Charger une image</button>
              <input id ="pictureHidden" type="hidden" name="photo" value="">
            </div>
            <h2 id="prod_Name" class="m-static">Nom du produit</h2>
            <div class="form-group m-modif">
              <label for="prod_Name_input">Nom du produit</label>
              <input id="prod_Name_input" name="nom" class="form-control form-control-sm" type="text" placeholder="Entrez un nom" required>
            </div>
            <em id="prod_Serial" class="m-static">Ref. 0564131</em>
            <div class="form-group m-modif">
              <label for="prod_Serial_input">Numero de serie</label>
              <input id="prod_Serial_input" name="reference" class="form-control form-control-sm" type="text" placeholder="Entrez un numero de serie">
            </div>
            <p id="prod_Categorie" class="product-cat m-static">Catégorie</p>
            <div class="form-group m-modif">
              <label for="prod_Categorie_input">Catégorie</label>
              <select id="prod_Categorie_input" name="categorieValue" class="form-control form-control-sm">
                <option value="1">Catégorie 1</option>
                <option value="2">Catégorie 2</option>
                <option value="3">Catégorie 3</option>
              </select>
              <button type="button" class="btn btn-success m-modif mt-1 upload-btn" onclick="newCategorieClick()"><span class="fa fa-plus"></span> Nouvelle catégorie</button>
            </div>
            <div id="prod_Price" class="price m-static"><p>39€</p></div>
            <div class="form-group m-modif">
              <label for="prod_Price_input">Prix</label>
              <input id="prod_Price_input" name="prix" class="form-control form-control-sm" type="number" step="0.1" placeholder="Entrez un prix">
            </div>
            <p class="m-static">Date d'achat: <strong id="prod_Date"  class="text-success">DATE</strong></p>
            <div class="form-group m-modif">
              <label for="prod_Date_input">Date d'achat</label>
              <input id="prod_Date_input" name="date_achat" class="form-control form-control-sm" type="date">
            </div>
            <p class="m-static">Fin de garantie: <strong id="prod_Warranty"  class="text-success m-static">DATE</strong></p>
            <div class="form-group m-modif">
              <label for="prod_Warranty_input">Fin de garantie</label>
              <input id="prod_Warranty_input" name="date_garantie" class="form-control form-control-sm" type="date">
            </div>
            <p class="m-static">Facture d'achat:</p>
            <div class="form-group m-modif">
              <label for="form-pic">Ticket d'achat</label>
              <button type="button" class="btn btn-success m-modif upload-btn" onclick="uploadTicketClick()"><span class="fa fa-upload"></span> Charger un ticket</button>
              <input id ="ticketHidden" type="hidden" name="ticket" value="">
            </div>
            <img id="prod_Ticket" src="images/product-ticket/placeholder.jpg" alt="">
          </div>
          <div id="product-modal-right">
            <p id="product-modal-title">Modifier le produit</p>
            <div class="form-group m-modif">
              <h3 class="m-modif mb-2">Vendeur:</h3>
              <select id="prod_Vendor_Type_input" name="vendeurType" class="form-control form-control-sm" onchange="vendorTypeChange()">
                <option value="1">Vente directe</option>
                <option value="2">E-commerce</option>
              </select>
              <label for="prod_Vendor_URL_input" class="vendor2 mt-2">Url</label>
              <input id="prod_Vendor_URL_input" name="url" class="vendor2 form-control form-control-sm" type="text" placeholder="Entrez une adresse web">
              <label for="prod_Vendor_Name_input" class="vendor1 mt-2">Nom</label>
              <input id="prod_Vendor_Name_input" name="vendeur" class="vendor1 form-control form-control-sm" type="text" placeholder="Entrez un nom de vendeur">
              <label for="prod_Vendor_Street_input" class="vendor1 mt-2">Rue</label>
              <input id="prod_Vendor_Street_input" name="rue" class="vendor1 form-control form-control-sm" type="text" placeholder="Entrez une rue">
              <label for="prod_Vendor_Code_input" class="vendor1 mt-2">Code postal</label>
              <input id="prod_Vendor_Code_input" name="code_postal" class="vendor1 form-control form-control-sm" type="text" placeholder="Entrez un code postal">
              <label for="prod_Vendor_City_input" class="vendor1 mt-2">Ville</label>
              <input id="prod_Vendor_City_input" name="ville" class="vendor1 form-control form-control-sm" type="text" placeholder="Entrez une ville">
            </div>
            <div id="vente-direct" class="m-static">
              <h3 id="title-vente-directe"><strong>Vente directe</strong></h3>
              <p id="prod_Vendor_Name" class="text-success" class="m-static">Nom du point de vente</p>
              <p id="prod_Vendor_Address"><span>5, avenue de machin</span> - <span>25000</span> - <span>Besançon</span></p>
            </div>
            <div id="vente-ecommerce" class="m-static">
              <h3 id="title-ecom"><strong>E-commerce</strong></h3>
              <p id="prod_Vendor_URL" class="text-success"><a target="_blank" rel="noopener noreferrer" href="http://www.amazon.fr">http://www.amazon.fr</a></p>
            </div>
            <h3 class="mt-5 mb-2">Conseils d'utilisation:</h3>
            <textarea id="prod_Tips_input" class="form-control m-modif" name="conseil" rows="6"></textarea>
            <button type="button" class="btn btn-success m-modif upload-btn" onclick="uploadManualClick()"><span class="fa fa-upload"></span> Charger le manuel d'utilisation</button>
            <p id="prod_Tips" class="text-justify mt-2 m-static">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus id, ex, eaque fugit placeat non tempore quasi sequi delectus omnis exercitationem nesciunt aliquam beatae aspernatur magnam quidem est nisi corrupti reprehenderit repellendus. Id voluptas natus autem nisi necessitatibus minus est, cum nam hic ipsum dolorem quo harum adipisci culpa eius alias cupiditate magni non distinctio neque ullam consequuntur quod cumque. Asperiores suscipit quas praesentium consequatur vel quaerat, laboriosam magnam est adipisci aperiam ut officiis, enim unde, quam temporibus. Rerum enim magni, suscipit velit at quam voluptas in cupiditate excepturi ipsum amet doloribus omnis, illum ut molestias voluptatibus perferendis. Asperiores, sed.</p>
            <a id="prod_Manual_btn" href="#" target="_blank" rel="noopener noreferrer" type="button" class="btn btn-success m-static"><span class="fas fa-book-open"></span> Manuel d'utilisation</a>
            <input id ="manualHidden" type="hidden" name="manuel" value="">
          </div>
        </form>
      </div>
    </div>

    <div id="delete-modal">
      <div class="modal-btn">
        <div id="modal-delete-close"><span class="far fa-times-circle"></span></div>
      </div>
      <div class="container">
          <div class="modal-in">
            <p class="title-mod"><span class="fas fa-exclamation-triangle icon"></span>Supprimer ce produit?</p>
            <div id="delete-yesno">
              <button type="button" class="btn btn-danger m-static" onclick="deleteProduct()"><span class="fas fa-check icon"></span>Oui</button>
              <button id="delete-no" type="button" class="btn btn-success m-static"><span class="fas fa-times icon"></span>Non</button>
            </div>
          </div>
      </div>
    </div>

    <div id="uppic-modal">
      <div class="modal-btns">
        <div id="modal-uppic-validate"><span class="far fa-check-circle m-modif" onclick="uppicValidate()"></span></div>
        <div id="modal-uppic-close"><span class="far fa-times-circle"></span></div>
      </div>
      <div class="container">
          <div class="modal-in">
            <p class="title-mod"><span class="fas fa-upload icon"></span>Charger un image</p>
            <input id ="filePicture" type="file" name="filePicture" onchange="pictureFile(this.files)">
            <label id = "filePictureLabel" class="btn btn-success m-static labelbtn" for="filePicture"><span class="far fa-folder icon"></span>Parcourir</label>
            <p id="uppicAlert" class="text-center text-warning font-weight-bold" style="display:none;"><em>Format de fichier non valide !</em></p>
            <p class="text-center text-white-50"><em>Formats : &nbsp; .jpg &nbsp; .jpeg &nbsp; .png &nbsp; .bmp &nbsp; .gif</em></p>
          </div>
      </div>
    </div>

    <div id="upticket-modal">
      <div class="modal-btns">
        <div id="modal-upticket-validate"><span class="far fa-check-circle m-modif" onclick="upticketValidate()"></span></div>
        <div id="modal-upticket-close"><span class="far fa-times-circle"></span></div>
      </div>
      <div class="container">
          <div class="modal-in">
            <p class="title-mod"><span class="fas fa-upload icon"></span>Charger une facture</p>
            <input id ="fileTicket" type="file" name="fileTicket" onchange="ticketFile(this.files)">
            <label id = "fileTicketLabel"class="btn btn-success m-static labelbtn" for="fileTicket"><span class="far fa-folder icon"></span>Parcourir</label>
            <p id="upTicketAlert" class="text-center text-warning font-weight-bold" style="display:none;"><em>Format de fichier non valide !</em></p>
            <p class="text-center text-white-50"><em>Formats : &nbsp; .jpg &nbsp; .jpeg &nbsp; .png &nbsp; .bmp &nbsp; .gif</em></p>
          </div>
      </div>
    </div>

    <div id="upmanual-modal">
      <div class="modal-btns">
        <div id="modal-upmanual-validate"><span class="far fa-check-circle m-modif" onclick="upmanualValidate()"></span></div>
        <div id="modal-upmanual-close"><span class="far fa-times-circle"></span></div>
      </div>
      <div class="container">
          <div class="modal-in">
            <p class="title-mod"><span class="fas fa-upload icon"></span>Charger le manuel d'utilisation</p>
            <input id ="fileManual" type="file" name="fileManual" onchange="manualFile(this.files)">
            <label id = "fileManualLabel"class="btn btn-success m-static labelbtn" for="fileManual"><span class="far fa-folder icon"></span>Parcourir</label>
            <p id="upManualAlert" class="text-center text-warning font-weight-bold" style="display:none;"><em>Format de fichier non valide !</em></p>
            <p class="text-center text-white-50"><em>Formats : &nbsp; .pdf &nbsp; .txt &nbsp; .jpg &nbsp; .jpeg &nbsp; .png &nbsp; .bmp</em></p>
          </div>
      </div>
    </div>

    <div id="newcat-modal">
      <div class="modal-btn">
        <div id="modal-newcat-close"><span class="far fa-times-circle"></span></div>
      </div>
      <div class="container">
          <div class="modal-in">
            <p class="title-mod"><span class="fas fa-boxes icon"></span>Créer une nouvelle catégorie</p>
              <input id="newcat-input" name="newCategorie" class="form-control form-control-sm mb-2" type="text" placeholder="Entrez un nom de catégorie">
              <p id="newCatAlert" class="text-center text-warning font-weight-bold" style="display:none;"><em>Cette catégorie existe déjà !</em></p>
              <button id="newcat-btn" type="button" class="btn btn-success m-static" onclick="newcatClick()"><span class="fas fa-plus icon"></span>Ajouter</button>
          </div>
      </div>
    </div>


{% block script %}
{# Bootstrap  #}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
{# Fontawesome  #}
<script src="https://kit.fontawesome.com/eee80a1a35.js" crossorigin="anonymous"></script>
{# Custom #}
<script src="js/script.js" crossorigin="anonymous"></script>
{% endblock script %}
</body>
</html>
